<section>
    <div class="row">
        <div class="col-md-12">

            <div class="heading">
                <h2>About Electronics WebShop</h2>
            </div>

            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group accordion" id="accordionThree">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">About item no.1</a>
                        </h4>
                    </div>
                    <div id="collapse3a" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/template-easy-customize.png" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-8">
                                    <p>Lorem ipsum dolor sit amet, in sit ornatus maiestatis posidonium. Et eam erant adolescens, exerci aperiri inciderint at ius, eu putant explicari vim. Quo enim idque no, dicant fabulas cum in. Sea te illum augue, pro eros mediocritatem te, usu prima assentior rationibus eu.</p>
                                    <p>Usu ut vide libris ornatus, alia feugait tibique an sed, eam fugit semper impetus ei. Modo labitur temporibus ex mel, probo qualisque eu eum. Sed te dolores salutatus necessitatibus, prima menandri vix ad. In odio percipitur sea, ut possit ceteros percipit sea. Legimus assentior has cu, mazim invenire id eos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">About item no.2</a>
                        </h4>
                    </div>
                    <div id="collapse3b" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/template-easy-code.png" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-8">
                                    <p>Lorem ipsum dolor sit amet, in sit ornatus maiestatis posidonium. Et eam erant adolescens, exerci aperiri inciderint at ius, eu putant explicari vim. Quo enim idque no, dicant fabulas cum in. Sea te illum augue, pro eros mediocritatem te, usu prima assentior rationibus eu.</p>
                                    <p>Usu ut vide libris ornatus, alia feugait tibique an sed, eam fugit semper impetus ei. Modo labitur temporibus ex mel, probo qualisque eu eum. Sed te dolores salutatus necessitatibus, prima menandri vix ad. In odio percipitur sea, ut possit ceteros percipit sea. Legimus assentior has cu, mazim invenire id eos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3c">About item no.3</a>
                        </h4>
                    </div>
                    <div id="collapse3c" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, in sit ornatus maiestatis posidonium. Et eam erant adolescens, exerci aperiri inciderint at ius, eu putant explicari vim. Quo enim idque no, dicant fabulas cum in. Sea te illum augue, pro eros mediocritatem te, usu prima assentior rationibus eu.</p>
                            <p>Usu ut vide libris ornatus, alia feugait tibique an sed, eam fugit semper impetus ei. Modo labitur temporibus ex mel, probo qualisque eu eum. Sed te dolores salutatus necessitatibus, prima menandri vix ad. In odio percipitur sea, ut possit ceteros percipit sea. Legimus assentior has cu, mazim invenire id eos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-4">
            <div class="heading">
                <h2>Our mission</h2>
            </div>
            <ul class="ul-icons">
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li><i class="fa fa-check"></i>Aliquam tincidunt mauris eu risus.</li>
                <li><i class="fa fa-check"></i>Vestibulum auctor dapibus neque.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="heading">
                <h2>Our services</h2>
            </div>
            <ul class="ul-icons">
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li><i class="fa fa-check"></i>Aliquam tincidunt mauris eu risus.</li>
                <li><i class="fa fa-check"></i>Vestibulum auctor dapibus neque.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="heading">
                <h2>Our values</h2>
            </div>

            <ul class="ul-icons">
                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li><i class="fa fa-check"></i>Aliquam tincidunt mauris eu risus.</li>
                <li><i class="fa fa-check"></i>Vestibulum auctor dapibus neque.</li>
            </ul>
        </div>
    </div>
</section>
