<div class="col-md-12 clearfix" id="checkout">

    <div class="box">
        <form method="post" action="shop-checkout3.html">
            <ul class="nav nav-pills nav-justified">
                <li><a href="checkout-address"><i class="fa fa-map-marker"></i><br>Address</a>
                </li>
                <li class="active"><a href="#"><i class="fa fa-truck"></i><br>Delivery Method</a>
                </li>
                <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
                </li>
                <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                </li>
            </ul>

            <div class="content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box shipping-method">

                            <h4>Standard Delivery</h4>

                            <p>Standard delivery option - usually within 2-3 days</p>

                            <div class="box-footer text-center">

                                <input type="radio" ng-model="standardDelivery" value="true" name="delivery" checked>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="box shipping-method">

                            <h4>Express Delivery</h4>

                            <p>Fastest shipping option - get your package within 24h</p>

                            <div class="box-footer text-center">

                                <input type="radio" name="delivery" ng-model="standardDelivery" value="false">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.content -->

            <div class="box-footer">
                <div class="pull-left">
                    <a href="checkout-address" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Addresses</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-template-main" ng-click="saveDeliveryMethod()" href="checkout-payment">Continue to Payment Method<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>
