<div class="col-md-9 clearfix" id="checkout">

    <div class="box">
        <form method="post" action="shop-checkout4.html">
            <ul class="nav nav-pills nav-justified">
                <li><a href="checkout-address"><i class="fa fa-map-marker"></i><br>Address</a>
                </li>
                <li><a href="checkout-delivery"><i class="fa fa-truck"></i><br>Delivery Method</a>
                </li>
                <li><a href="checkout-payment"><i class="fa fa-money"></i><br>Payment Method</a>
                </li>
                <li class="active"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                </li>
            </ul>

            <div class="content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Product</th>
                                <th></th>
                                <th>Unit price</th>
                                <th>Discount</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items track by $index">
                                <td>
                                    <a href="#"><img ng-src="img/products/{{item.images[0]}}"></a>
                                </td>
                                <td>
                                    <a href="#">{{item.name}}</a>
                                </td>
                                <td></td>
                                <td>${{item.discount ? item.price + item.price * item.discount : item.price | number : 2}}</td>
                                <td>{{item.discount ? item.discount * 100 : 0}}%</td>
                                <td>${{item.price}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5">Total</th>
                                <th>${{total}}</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.content -->

            <div class="box-footer">
                <div class="pull-left">
                    <a href="checkout-payment" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Payment method</a>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-template-main" ng-click="submitOrder()">Place an order<i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </form>
    </div>

</div>
<!-- /.col-md-9 -->

<div class="col-md-3">
    <div class="box" id="order-summary">
        <div class="box-header">
            <h3>Order summary</h3>
        </div>
        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Order subtotal</td>
                        <th>${{total}}</th>
                    </tr>
                    <tr>
                        <td>Shipping and handling</td>
                        <th>${{shipping}}</th>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <th>$0.00</th>
                    </tr>
                    <tr class="total">
                        <td>Total</td>
                        <th>${{total + shipping}}</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
