<div class="col-md-12 clearfix" id="checkout">

    <div class="box">
        <form method="post" action="shop-checkout4.html">
            <ul class="nav nav-pills nav-justified">
                <li><a href="checkout-address"><i class="fa fa-map-marker"></i><br>Address</a>
                </li>
                <li><a href="checkout-delivery"><i class="fa fa-truck"></i><br>Delivery Method</a>
                </li>
                <li class="active"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
                </li>
                <li class="disabled"><a href="shop-checkout4.html"><i class="fa fa-eye"></i><br>Order Review</a>
                </li>
            </ul>

            <div class="content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box payment-method">

                            <h4>Paypal</h4>

                            <p>The most reliable online payment service.</p>

                            <div class="box-footer text-center">

                                <input type="radio" name="payment" value="payment1">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="box payment-method">

                            <h4>Cash on delivery</h4>

                            <p>You pay when you get it.</p>

                            <div class="box-footer text-center">

                                <input type="radio" name="payment" value="payment3">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.content -->

            <div class="box-footer">
                <div class="pull-left">
                    <a href="checkout-delivery" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Delivery method</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-template-main" href="checkout-review">Continue to Order review<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>
