<div class="col-md-12 clearfix" id="checkout">

    <div class="box">
        <form method="post" action="shop-checkout2.html">

            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#"><i class="fa fa-map-marker"></i><br>Address</a>
                </li>
                <li class="disabled"><a href="#"><i class="fa fa-truck"></i><br>Delivery Method</a>
                </li>
                <li class="disabled"><a href="#"><i class="fa fa-money"></i><br>Payment Method</a>
                </li>
                <li class="disabled"><a href="#"><i class="fa fa-eye"></i><br>Order Review</a>
                </li>
            </ul>

            <div class="content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" id="lastname">
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="company">Company</label>
                            <input type="text" class="form-control" id="company">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" id="street">
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <select class="form-control" id="country"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="state">Municipality</label>
                            <select class="form-control" id="state"></select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="zip">ZIP</label>
                            <input type="text" class="form-control" id="zip">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone">Telephone</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>

            <div class="box-footer">
                <div class="pull-left">
                    <a href="shopping-cart" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to basket</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-template-main" href="checkout-delivery">Continue to Delivery Method<i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>
