<section>

    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="heading">
                    <h2>We are here to help you</h2>
                </div>

                <p class="lead">Are you curious about something? Do you have some kind of problem with our products? We will make sure to promptly answer to all off your inquiries.</p>
                <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>
            </section>
        </div>
    </div>

</section>

<section>

    <div class="row">
        <div class="col-md-4">
            <div class="box-simple">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <h3>Address</h3>
                <p>Trg Solidarnosti 10
                    <br>71000 Sarajevo
                    <br>
                    <strong>Bosnia and Herzegovina</strong>
                </p>
            </div>
            <!-- /.box-simple -->
        </div>


        <div class="col-md-4">

            <div class="box-simple">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <h3>Call center</h3>
                <p class="text-muted">This number is toll free if calling from Bosnia and Herzegovina otherwise we advise you to use the electronic form of communication.</p>
                <p><strong>+387 33 111 222</strong>
                </p>
            </div>
            <!-- /.box-simple -->

        </div>

        <div class="col-md-4">

            <div class="box-simple">
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <h3>Electronic support</h3>
                <p class="text-muted">Please feel free to write an email to us or to use our electronic ticketing system.</p>
                <ul class="list-style-none">
                    <li><strong><a href="mailto:">info@electronics.com</a></strong>
                    </li>
                </ul>
            </div>
            <!-- /.box-simple -->
        </div>
    </div>

</section>

<section>

    <div class="row text-center">

        <div class="col-md-12">
            <div class="heading">
                <h2>Contact form</h2>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" id="lastname">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Send message</button>

                    </div>
                </div>
                <!-- /.row -->
            </form>



        </div>
    </div>
    <!-- /.row -->

</section>
