<div class="col-sm-3">

    <!-- *** MENUS AND FILTERS *** -->

    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
            <div class="panel-body">
                <form class="panel-search" role="search" ng-submit="search()">
                    <div class="input-group">
                        <input type="text" class="form-control" style="border-right-color: #38A7BB;" placeholder="Product name..." ng-model="searchName">
                        <div class="input-group-btn">
                            <button class="btn btn-template-main" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>

        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
                <li ng-repeat="category in categoryList">
                    <a href="#">{{category.name}}<span class="badge pull-right">{{category.count}}</span></a>
                    <ul>
                        <li ng-repeat="subCategory in category.subCategories">
                            <a href="#">{{subCategory.name}}<span class="badge pull-right">{{subCategory.count}}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Brands</h3>
            <a class="btn btn-xs btn-danger pull-right" ng-click="clearBrands()" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="checkbox" ng-repeat="product in results | unique: 'brand' | orderBy:'brand'">
                    <label>
                          <input type="checkbox" ng-model="product.checked" ng-change="addToBrands(product)">{{product.brand}}
                          </label>
                </div>
            </div>
            <button class="btn btn-default btn-sm btn-template-main" ng-click="filterByBrand()"><i class="fa fa-pencil"></i> Apply</button>
        </div>
    </div>

    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Price range</h3>
        </div>
        <div class="panel-body">
            <div class="row slider-container">
                <rzslider rz-slider-model="slider.priceMin" rz-slider-high="slider.priceMax" rz-slider-options="slider.options"></rzslider>
            </div>
        </div>
    </div>

</div>

<div class="col-sm-9">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <p class="text-muted lead">Results ({{results.length}})</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-offset-4 col-md-4">
            <div class="form-group">
                <label for="sel1">Order by:</label>
                <select class="form-control" id="sel1" ng-model="orderType" ng-change="orderProducts()">
                    <option value="0">Name</option>
                    <option value="1">Price - Low</option>
                    <option value="2">Price - High</option>
                </select>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="product in results track by $index">
                <div class="product" ng-click="selectProduct(product)">
                    <div class="image">
                        <img ng-src="img/products/{{product.images[0]}}" alt="" class="img-responsive">
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3>{{product.name}}</h3>
                        <p class="price">
                            <del ng-if="product.discount">${{product.price * (1 + product.discount) | number:2}}</del>
                            ${{product.price}}
                        </p>
                    </div>
                    <div class="ribbon sale" ng-show="product.discount">
                        <div class="theribbon">-{{product.discount*100}}%</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <div class="ribbon new" ng-show="product.new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                </div>
                <div class="clearfix hidden-sm" ng-if="($index + 1) % 3 == 0"><span style="color:white">.</span></div>
                <div class="clearfix visible-sm" ng-if="($index + 1) % 2 == 0"><span style="color:white">.</span></div>
            </div>
        </div>
    </div>

    <div class="pages">
        <ul class="pagination">
            <li><a href="#">&laquo;</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>