<div class="col-md-10 col-md-offset-1">

    <div class="heading">
        <h2>{{product.name}}</h2>
    </div>

    <p class="lead">{{product.description}}</p>

    <div class="row" id="productMain">
        <div class="col-sm-6">
            <div id="mainImage">
                <img ng-src="img/products/{{product.images[0]}}" alt="" style="max-height:450px;height:auto;width:100%">
            </div>

            <div class="ribbon sale" ng-show="product.discount">
                <div class="theribbon">-{{product.discount*100}}%</div>
                <div class="ribbon-background"></div>
            </div>

            <div class="ribbon new" ng-show="product.new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="box">
                <form>
                    <div class="sizes">
                        <h3>Price:</h3>
                    </div>
                    <p class="price">${{product.price}}</p>
                    <p class="text-center">
                        <button type="submit" class="btn btn-template-main" ng-click="addToCart(product)"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                    </p>
                </form>
            </div>

            <div class="row" id="thumbs">
                <div class="col-xs-4 thumb-container" ng-repeat="image in product.images track by $index">
                    <a href="#" class="thumb" ng-class="{'active': $index == 0}}"  ng-click="selectImage()">
                        <img src="img/products/{{image}}" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="box" id="details">
        <h4>Product details</h4>
        <ul>
            <li ng-repeat="detail in product.details">{{detail}}</li>
        </ul>

        <blockquote>
            <p><em>In stock: {{product.inStock}}</em>
            </p>
        </blockquote>
    </div>
</div>