<div class="col-md-12">
    <p class="text-muted lead">You currently have {{items.length}} item(s) in your cart.</p>
</div>


<div class="col-md-12 clearfix" id="basket">

    <div class="box">

        <form>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th></th>
                            <th>Unit price</th>
                            <th>Discount</th>
                            <th colspan="2">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items track by $index">
                            <td>
                                <a href="#"><img ng-src="img/products/{{item.images[0]}}"></a>
                            </td>
                            <td>
                                <a href="#">{{item.name}}</a>
                            </td>
                            <td>
                                <!--<input type="number" value="1" class="form-control">-->
                            </td>
                            <td>${{item.discount ? item.price + item.price * item.discount : item.price | number : 2}}</td>
                            <td>{{item.discount ? item.discount * 100 : 0}}%</td>
                            <td>${{item.price}}</td>
                            <td><a href="#" ng-click="removeFromCart(item)"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5">Total</th>
                            <th colspan="2">${{total}}</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.table-responsive -->

            <div class="box-footer">
                <div class="pull-left">
                    <a href="/" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                </div>
                <div class="pull-right">
                    <a class="btn btn-template-main" href="checkout-address">Proceed to checkout <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>

        </form>

    </div>
    <!-- /.box -->

</div>
